* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0B2434;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  height: 90vh;
  width: 90vw;
  max-width: 60em;
  border-radius: 1em;
  background-color: #F5F5F5;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  text-align: center;
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
  margin-bottom: .5em;
}

.main-header p {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
}

.roll-button {
  background-color: #5035FF;
  font-family: "Karla", sans-serif;
  font-size: 1.25rem;
  color: white;
  padding: 1em 3.5em;
  border: none;
  border-radius: 1em;
  box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.186);
  cursor: pointer;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active{
  box-shadow: inset .2em .2em .5em rgba(0, 0, 0, 0.203);
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
}

.dice-checked {
  background-color: #59E391 !important;
}

.dice {
  font-size: 2rem;
  font-family: 'Karla';
  height: 2.5em ;
  width: 2.5em;
  border: none;
  border-radius: .6em;
  background-color: white;
  box-shadow: 0 .15em .2em rgba(0, 0, 0, 0.164);
  color: #2B283A;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}